@import "./variables.scss";

%buttonPrimary {
  background-color: $color-theme-90;
  box-sizing: border-box;
  color: $color-text-on-dark;
  cursor: pointer;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: $font-size-md;
  padding: $spacer-smmd $spacer-lg;
  text-decoration: none;
  transition: background-color $transition-default;

  &:hover {
    background-color: $color-theme-80;
  }

  & i {
    color: $color-text-on-dark;
    margin-right: $spacer-sm;
    transform: translateY(6px);
  }
}
