/* Colors */
/* http://www.colorbox.io/#steps=11#hue_start=36#hue_end=25#hue_curve=easeInOutCubic#sat_start=3#sat_end=87#sat_curve=easeInOutCubic#sat_rate=190#lum_start=100#lum_end=13#lum_curve=easeOutQuad#minor_steps_map=0 */
/* http://www.colorbox.io/#steps=11#hue_start=36#hue_end=25#hue_curve=easeInOutCubic#sat_start=0#sat_end=0#sat_curve=easeInOutCubic#sat_rate=190#lum_start=100#lum_end=1#lum_curve=easeOutQuad#minor_steps_map=0 */
$color-text: #323232;
$color-text-on-dark: #ffffff;
$color-bg: #ffffff;
$color-theme-primary: #cc7018;
$color-theme-0: #fff9f0;
$color-theme-5: #fdf6ec;
$color-theme-10: #fbf3e7;
$color-theme-20: #f5e7d2;
$color-theme-30: #ecd1ad;
$color-theme-40: #dead70;
$color-theme-50: #cc7018;
$color-theme-60: #b55200;
$color-theme-70: #974200;
$color-theme-80: #733100;
$color-theme-90: #4b1f00;
$color-theme-100: #210e00;
$color-grey-0: #ffffff;
$color-grey-5: #fdfdfd;
$color-grey-10: #fbfbfb;
$color-grey-20: #f4f4f4;
$color-grey-30: #e9e9e9;
$color-grey-40: #dadada;
$color-grey-50: #c5c5c5;
$color-grey-60: #aaaaaa;
$color-grey-70: #898989;
$color-grey-80: #606060;
$color-grey-90: #323232;
$color-grey-100: #030303;
$color-shadow: rgba(0, 0, 0, 0.15);

/* Spacing */
$spacer-xxs: 2px;
$spacer-xs: 4px;
$spacer-sm: 8px;
$spacer-smmd: 12px;
$spacer-md: 16px;
$spacer-mdlg: 24px;
$spacer-lg: 32px;
$spacer-xl: 64px;

/* Box-shadow */
$box-shadow-sm: 0 2px 8px $color-shadow;
$box-shadow-md: 0 2px 16px $color-shadow;

/* Font sizes */
$font-size-md: 16px;
$font-size-lg: 19px;

/* Transition */
$transition-default: 0.25s;
