@import "../../styles/variables.css";

.header {
  align-items: baseline;
  /* border-bottom: 1px solid var(--color-grey-20); */
  box-shadow: var(--box-shadow-sm);
  display: flex;
  justify-content: space-between;
  padding: var(--spacer-md) var(--spacer-lg) var(--spacer-mdlg);
}

/* Add a game button */
.addGame {
  background-color: var(--color-theme-90);
  color: var(--color-text-on-dark);
  padding: var(--spacer-sm) var(--spacer-lg) var(--spacer-sm) var(--spacer-mdlg);
  text-decoration: none;
  transition: background-color var(--transition-default);
}
.addGame:hover {
  background-color: var(--color-theme-80);
}
.addGame i {
  color: var(--color-text-on-dark);
  margin-right: var(--spacer-sm);
  transform: translateY(6px);
}

/* Navigation links */
.link {
  color: var(--color-theme-primary);
  text-decoration: none;
  transition: color var(--transition-default);
}
.link:hover {
  color: var(--color-theme-70);
}
