@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.ChoiceGroup {
  .choiceGroupItem {
    @extend %buttonPrimary;
    margin: 0 $spacer-md $spacer-sm 0;
  }

  .choiceGroupItem.isSelected {
    background-color: $color-theme-70;
    box-shadow: 0 2px 2px 0 $color-theme-80 inset;
  }

  input {
    display: none;
  }

  .choiceTitle {
    user-select: none;
  }
}
